{% extends "main.html" %}
{% block body %}

{% if session.logged_in %}
  {% for entry in entries %}
   <div class="panel panel-default">
     <div class="panel-heading">
       <h3 class="panel-title"> {{ entry.title }} </h3>
     </div>
    <div class="panel-body">
      {{ entry.text|markdown }}
    </div>
        <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">
        {% for tag in entry.tags %}
          <span class="label label-primary">{{ tag }}</span>
        {% endfor %}</li>
    </ul>
   </div>
  {% endfor %}
{% else %}
    <em>No logged in</em>
{% endif %}

{% endblock %}
